language: ruby

matrix:
  include:
    - rvm: 2.2.7
    - rvm: 2.3.4
    - rvm: 2.4.1

branches:
  only:
    - master
    - float-layout

before_install:
  - gem update --system
  - gem update --no-document
  - gem cleanup
