// Flex alignments
$flex-align: (
	vertical: (
		start: flex-start,
		center: center,
		end: flex-end
	),
	horizontal: (
		start: flex-start,
		center: center,
		end: flex-end,
		around:space-around,
		between: space-between
	)
);

// Order
@for $column from 1 through map-get($grid, columns) {
	.order-#{$column} {
		order: $column;
	}
}

// Vertical alignment
@each $key, $value in map-get($flex-align, vertical) {
	.vertical-align-#{$key} {
		align-items: $value;
	}
}

// Horizontal alignment
@each $key, $value in map-get($flex-align, horizontal) {
	.horizontal-align-#{$key} {
		justify-content: $value;
	}
}
