.responsive-media {
	height: 0;
	overflow: hidden;
	position: relative;
	padding-top: 25px;

	// 16:9 aspect ratio
	&,
	&-16-9 {
		padding-bottom: ((9 / 16) * 100%);
	}

	// 4:3 aspect ratio
	&-4-3 {
		padding-bottom: ((3 / 4) * 100%);
	}

	video,
	iframe,
	object,
	embed,
	& &-item {
		width: 100%;
		height: 100%;
		border: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
