// Number of columns
$grid-columns: 12;

// Usually (but not always) 1rem = 16px
$rem-base: 16;

// Column spacing
$grid-spacing: 1rem;

// CSS class names
$column-class: 'col';	// Global (without dot)
$column-xs-class: 'xs';	// Extra small
$column-sm-class: 'sm';	// Small
$column-md-class: 'md';	// Medium
$column-lg-class: 'lg';	// Large

// Media queries viewports
$screen-xs: ((480 / $rem-base) * 1rem);
$screen-sm: ((768 / $rem-base) * 1rem);
$screen-md: ((992 / $rem-base) * 1rem);
$screen-lg: ((1200 / $rem-base) * 1rem);

// Maximum width
$screen-sm-max-width: ((750 / $rem-base) * 1rem);
$screen-md-max-width: ((970 / $rem-base) * 1rem);
$screen-lg-max-width: ((1170 / $rem-base) * 1rem);
